.login-main{
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-form{
    background-color: white;
    padding: 15px;
    width: fit-content;
    margin-right: 5%;
}

.welcome-text{
    width: 50%;
    color: white;
}

.welcome-text h1{
    font-size: 4rem;
}

.btn{
    padding-inline: 10px;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
}