body{
    margin: 0;
    padding: 0;
    background-color: #898989;

    color: white;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 500;
}

p{
    margin: 0;
}

a{
    color: #00DFDF;
}

.shadow{
    box-shadow: 2px 2px 4px 3px rgba(0, 0, 0, 0.25);
}

.pointer-on-hover:hover{
    cursor: pointer;
}
