@import "_defs.scss";

.btn{
    width: fit-content;
    padding-inline: 10px;
    border: 1px solid $light-gray;
    border-radius: 10px;
}

.btn-leaf{
    background: none;
    border: none;
    border-radius: 15px 0 15px 0;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;

  &:hover{
      box-shadow: 2px 2px 4px 3px $shadow;
      color: $scifi-blue;
  }
}

.btn-rounded{
    background: none;
    border: none;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;

    &:hover{
        box-shadow: 2px 2px 4px 3px $shadow;
        cursor: pointer;
        color: $scifi-blue;
    }
}

.btn-scifi {
    color: $scifi-blue;
    text-decoration: none;
    border-width: 2px 2px 0px 2px;
    border-style: solid;
    border-color: $scifi-blue;
    background: none;
    padding: 15px;

    &.btn-scifi-danger{
        color: $scifi-red;
        border-color: $scifi-red;

        &:hover{
            background: rgba(255, 34, 74, 0.1);
        }
    }

    &:hover {
        background: rgba(0, 223, 223, 0.1);
        cursor: pointer;
    }
}

.lang_buttons{
    position: absolute;
    top: 15px;
    right: 15px;
    column-gap: 10px;

    display: inline-flex;

    .lang_button{
        height: 35px;
        width: 35px;

        display: flex;
        justify-content: center;
        align-items: center;

        line-height: 15px;
        font-size: 15px;
        font-weight: 600;
        text-decoration: none;

        border-radius: 90%;
        box-shadow: 2px 2px 4px 3px $shadow;

        &:hover {
            cursor: pointer;
            color: $scifi-blue;
        }
    }
}

.form-bottom-btn{
    margin-top: 15px;
    border-radius: 20% 20% 0 0;
}