{% extends "base.html" %}
{% block extrahead %}
    <script src="{{ url_for("static", filename="js/artists.js") }}"></script>
{% endblock %}

{% block title %}{{ _("strings.discover_page") }}{% endblock %}

{% block content %}
    {% include "components/side_panel.html" %}
    <div style="width: 80%; margin-left: auto; box-sizing: border-box; padding: 5vh 5% 5vh 5%;">
        <button
            style="width: fit-content; margin-bottom: 20px;"
            class="btn-rounded"
            onclick="openModal('create_artist_modal')"
        >
            {{ _('strings.create_artist') }} +
        </button>
        <div class="artist-grid">
            {% for artist in artists %}
                <div
                    class="artist-box shadow pointer-on-hover"
                    onclick="openModal('{{ artist.artist_uuid }}_info_modal')"
                >
                    <p>{{ artist.artist_name }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal-wrapper modal-closed" id="create_artist_modal">
        <form
            class="rounded-form form-toggleable shadow"
            action="{{ url_for("artists.create_artist") }}"
            method="post"
            onsubmit="return !checkArtistExists({{ url_for("artists.check_if_artist_exists") }}, $('#parent_artist_name'))"
            style="
               display: flex;
               flex-direction: column;
               align-items: center;
               height: fit-content;
               width: 20%;
           "
        >
            <input
                type="hidden"
                name="owner_user_uuid"
                value="{{ user.user_uuid }}"
            >
            <input
                type="hidden"
                name="song_uuid"
                id="song_uuid_input"
                value=""
            >
            <a
                class="toggle-x"
                onclick="closeModal('create_artist_modal')"
            >x</a>
            <h3 style="text-align: center;">{{ _('strings.create_artist') }}:</h3>
            <div style="width: 80%;">
                <p style="margin-top: 15px;">{{ _('strings.artist_name') }}:</p>
                <input
                    name="artist_name"
                    maxlength="350"
                    required
                >
                <p style="margin-top: 15px;">{{ _('strings.parent_artist_name') }}:</p>
                <input
                    name="parent_artist_name"
                    id="parent_artist_name"
                    maxlength="350"
                    onkeyup="checkArtistExists('{{ url_for("artists.check_if_artist_exists") }}', $(this), $('#create_artist_btn'))"
                    autocomplete="off"
                >
            </div>
            <button
                id="create_artist_btn"
                style="margin-top: 15px; border-radius: 20% 20% 0 0;"
                class="btn-scifi"
                type="submit"
            >{{ _('strings.create') }}</button>
        </form>
    </div>

    {% for artist in artists %}
        <div class="modal-wrapper modal-closed" id="{{ artist.artist_uuid }}_info_modal">
            <form class="rounded-form form-toggleable shadow" style="
               display: flex;
               flex-direction: column;
               justify-content: flex-start;
               align-items: center;
               height: fit-content;
               width: 20%;
               padding: 20px;
           ">
                <a
                    class="toggle-x"
                    onclick="closeModal('{{ artist.artist_uuid }}_info_modal')"
                >x</a>
                <div style="width: 80%;">
                    <h3 style="text-align: center;">{{ artist.artist_name }}:</h3>
                    <p style="margin-top: 15px;">
                        {{ _('strings.child_artists') }}:
                        {{ artist.child_artists_names|join(", ") if artist.child_artists_names }}
                        {{ _('strings.no_child_artists') if not artist.child_artists_names }}
                    </p>
                    <p style="margin-top: 15px;">
                        {{ _('strings.parent_artists') }}:
                        {{ artist.parent_artists_names|join(", ") if artist.parent_artists_names }}
                        {{ _('strings.no_parent_artists') if not artist.parent_artists_names }}
                    </p>
                </div>
            </form>
        </div>
    {% endfor %}
{% endblock %}