{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block title %}Login page{% endblock %}

{% block content %}
    <div class="login-main">
        <div class="welcome-text">
            <h1>Music Playlists With Flask</h1>
        </div>
        <div class="login-form">
            <h3>Login:</h3>
            <form action="/login/" method="post">
                <p>username:</p>
                <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" required>
                <p>password:</p>
                <input type="password" placeholder="Password" name="password" value="{{ request.form.password }}" required>
                <input type="submit" value="login">
            </form>
            <p>Dont have an account?<a href="/register">Register here</a></p>
        </div>
    </div>
{% endblock %}