{% extends "base.html" %}

{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/forms.css') }}">
{% endblock %}

{% block title %}Login page{% endblock %}

{% block content %}
    <div class="login-main">
        <div class="welcome-text">
            <h1>{{ _('Music Playlists With Flask') }}</h1>
        </div>
        <div>
           <form class="rounded-form shadow" action="{{ url_for("login.login") }}" method="post" style="
               display: flex;
               flex-direction: column;
               align-items: center;
               height: 100%;
           ">
               <h3 style="text-align: center; margin: 20px 0 0 0;">{{ _('Login') }}:</h3>
               <div style="width: 80%">
                   <p>{{ _('username') }}</p>
                   <input type="text" placeholder="Username" name="username" value="{{ request.form.username }}" required>
                   <p style="margin-top: 15px;">{{ _('password') }}:</p>
                   <input type="password" placeholder="Password" name="password" value="{{ request.form.password1 }}" required>
               </div>
               <button style="margin-top: 15px; border-radius: 20% 20% 0 0;" class="btn-scifi" type="submit">{{ _('Log in') }}</button>
           </form>
            <p style="margin-top: 13px; text-align: center;">{{ _('Dont have an account?') }} <a href="{{ url_for("register.register") }}">{{ _('Register here') }}</a></p>
        </div>
    </div>
{% endblock %}