{% extends "base.html" %}
{% block extrahead %}
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/playlists.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/forms.css') }}">
{% endblock %}

{% block title %}Your playlists{% endblock %}

{% block content %}
    {% include "components/side_panel.html" %}
    <div style="width: 80%; margin-left: auto; box-sizing: border-box; padding: 5vh 5% 5vh 5%;">
        <button style="width: fit-content;" class="btn-rounded" onclick="openModal('create_playlist_modal')">{{ _('strings.create_new') }} +</button>
        {# Using tables for learning #}
        <table class="playlist-rows">
            {% for playlist in playlists %}
                <tr class="playlist-row-tr">
                    <td>
                        <table class="playlist-box shadow">
                            <tr>
                                <td class="image-td">
                                    <img
                                        src="{{ url_for("site.get_profile_pic", user_uuid=user.user_uuid) }}"
                                        class="shadow"
                                        style="width: 10vw; height: 10vw;"
                                    >
                                </td>
                                <td class="info-td">
                                    <h3>{{ playlist.playlist_name }}</h3>
                                    <p>{{ _('strings.songs') }}: {{ playlist.songs|length }}</p>
                                </td>
                                <td class="btn-td">
                                    <a
                                        style="margin-top: 15px; border-radius: 20% 0 0 20%; border-width: 2px 0px 2px 2px;"
                                        class="btn-scifi"
                                        type="submit"
                                        href="{{ url_for("playlists.playlist_page", playlist_uuid=playlist.playlist_uuid) }}"
                                    >{{ _('strings.open') }}</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="modal-wrapper modal-closed" id="create_playlist_modal">
        <form class="rounded-form form-toggleable shadow" action="{{ url_for("playlists.save_playlist") }}" method="post" style="
               display: flex;
               flex-direction: column;
               align-items: center;
               height: fit-content;
               width: 20%;
           ">
            <input type="hidden" name="owner_user_uuid" value="{{ user.user_uuid }}">
            <a class="toggle-x" onclick="closeModal('create_playlist_modal')">x</a>
            <h3 style="text-align: center;">{{ _('strings.new_playlist') }}:</h3>
            <div style="width: 80%">
                <p style="margin-top: 15px;">{{ _('strings.name_playlist') }}:</p>
                <input placeholder="Name" name="playlist_name" required autocomplete="off">
            </div>
            <button style="margin-top: 15px; border-radius: 20% 20% 0 0;" class="btn-scifi" type="submit">{{ _('strings.create') }}</button>
        </form>
    </div>
{% endblock %}