@import "_defs.scss";

.artist-grid{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  width: 100%;
}

.artist-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  padding: 20px;
  border-radius: 15px;

  p{
    font-weight: 510;
  }
}