.song-grid{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;

  width: 100%;
}

.song-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 7px;

  img{
    height: 300px;
    width: 300px;
  }

  padding: 15px;
  border-radius: 15px;

  p{
    font-weight: 510;
  }
}