.login-main{
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rounded-form{
    background-color: #898989;
    padding: 15px 15px 0 15px;
    min-width: 23vw;
    min-height: 23vw;
    margin-right: 5%;
    border-radius: 4%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .checkbox-row{
        display: inline-flex;
        align-items: center;

        input{
            width: 18px;
            height: 18px;
        }
    }

    input, select{
        padding: 5px 0 5px 0;
        width: 100%;
        background: none;
        border: none;
        border-bottom: white 2px solid;
        color: white;
        width: 100%;
        margin-top: 5px;

        &:focus{
            outline: none !important;
            border-bottom: #00DFDF 2px solid;
        }
    }

    &.form-toggleable{
        padding-top: 5px;
        min-height: 15vw;

        h3{
            margin: 0;
        }

        .toggle-x{
            font-size: 1.5rem;
            line-height: 1.5rem;
            margin: 0 0 5px auto;

            &:hover{
                cursor: pointer;
            }
        }
    }
}

.welcome-text{
    width: 50%;
    color: white;

    h1{
        font-size: 4rem;
    }
}
