@import "_defs.scss";

.side_panel{
    position: fixed;
    top: 0;
    left: 0;
    max-height: 100vh;
    height: 100vh;
    width: 20vw;
    background-color: $gray-background;
    box-shadow: 2px 2px 4px 3px $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}