<link rel="stylesheet" href="{{ url_for('static', filename='scss/side_panel.css') }}">
<div class="side_panel">
    <div style="width: 100%;">
        <div style="width: 100%; display: flex; flex-direction: column; align-items: center; margin-top: 5vh;">
            <img src="{{ url_for("site.get_profile_pic", user_uuid=user.user_uuid) }}" class="shadow" style="width: 10vw; height: 10vw; border: #00DFDF 2px solid; border-radius: 90%;">
            <p style="margin-top: 15px;">{{ user.name }}</p>
        </div>
        <div style="
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            row-gap: 10px;
            width: 70%;
            margin-left: 15%;
            margin-top: 7vh;
        ">
            <a class="btn-leaf" href="{{ url_for("playlists.your_playlists") }}">{{ _('Your playlists') }}</a>
            <a class="btn-leaf" href="#">{{ _('Settings') }}</a>
            <a class="btn-leaf" href="{{ url_for("discover.discover") }}">{{ _('Discover') }}</a>
        </div>
    </div>
    <a href="{{ url_for("site.logout") }}" style="margin-bottom: 15px;">Log out</a>
</div>